<!DOCTYPE html>

<html>


<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css"> <!--Absolute link-->
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>{{msg}}</h3>
    </div>
    {{>footer}}

</body>


</html>